body{
	background: url(../Imagenes/FONDOLOGIN.png) no-repeat center center fixed;
	background-size: cover;
}

.user-img{
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img{
	width: 100px;
	height: 100px;
	box-shadow: 0px 0px 3px #3b4652;
	border-radius: 50%;
}

.card-header{
	font-size: 25px;
	opacity: .90;
}


.main-section{
	margin:0 auto;
	margin-top:25%;
	padding: 0;
}

.modal-content{
	background-color: #3b4652;
	opacity: .90;
	padding: 0 20px;
}

.form-group input{
	height: 42px;
	font-size: 18px;
	border:0;
	border-radius: 5px;

}

.button{
	width: 60%;
	margin: 5px 0 25px;
}